<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.nypr.cordova.flurryplugin"
    version="0.1.0">
    <name>Device</name>
    <description>Flurry Plugin</description>
    <license>Apache 2.0</license>
    <keywords>flurry,analytics</keywords>
    <repo>git@git.wnyc.net:mobile/cordova/cordova-plugin-flurry.git</repo>

    <js-module src="www/flurry.js" name="Flurry">
      <clobbers target="flurry"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FlurryPlugin" >
                <param name="android-package" value="org.nypr.cordova.flurryplugin.FlurryPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>

        <source-file src="src/android/FlurryPlugin.java" target-dir="src/org/nypr/cordova/flurryplugin/" />
        <source-file src="src/android/FlurryAgent.jar" target-dir="libs" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FlurryPlugin">
                <param name="ios-package" value="FlurryPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/FlurryPlugin.h" />
        <header-file src="src/ios/Flurry.h" />
        <source-file src="src/ios/FlurryPlugin.m" />
        <source-file src="src/ios/libFlurry_7.3.0.a" framework="true" />
        <framework src="SystemConfiguration.framework" />
        <framework src="Security.framework" />
    </platform>
</plugin>
